/* Payment Icons */
.pi {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    width: 40px;
    min-height: 30px;
    background-origin: padding-box;
}
.pi.pi-paypal {
    background: url("../svgs/paypal.svg") center center no-repeat;
}
.pi.pi-mastercard {
    background: url("../svgs/mastercard.svg") center center no-repeat;
}
.pi.pi-visa {
    background: url("../svgs/visa.svg") center center no-repeat;
}
.pi.pi-american-express {
    background: url("../svgs/american-express.svg") center center no-repeat;
}
.pi.pi-sm {
    width: 25px;
    min-height: 15px;
}
/* end of payment icons */