/* Background color utilities */
.bg-primary {
    background-color: #3356f6 !important;
}

.bg-success {
    background-color: #19b8a2 !important;
}

.bg-light {
    background-color: #f4f6f8 !important;
}

.bg-dark {
    background-color: #011f44 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-orange {
    background-color: #fc6229 !important;
}

.bg-transparent {
    background-color: transparent !important;
}
/* end of background color utilities */